/* Base styles */
.navbar {
  background-color: rgba(42, 124, 207, 0.97);
  
  padding: 1rem 1.5rem;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  align-items: center;
  
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  background: none;
  border: none;
}

.hamburger {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.3s;
}

/* Navigation links */
.navbar-links {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navbar-item {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.navbar-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.logout-btn {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font: inherit;
}

/* Responsive styles */
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .navbar-links {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #274058ff;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 1rem 2rem;
    display: none;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-item {
    width: 100%;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
}
